
.navbar {
    background-color: #083C6E;
    color:#fff;
}
.navbar a {
    color: white;
}

.signin-button {
    background-color: #0550a1;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 6px 23px 5px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 13px;
    right: 13px;
}

.signin-button:hover {
    background-color: rgb(2, 47, 95);
}

body {
    font-family: 'Poppins', sans-serif;
}
.container {
    max-width: 1140px;
}
.title-h1 {
    font-size: 52px;
}
.shop {
    margin-top: 100px;
    position: relative;
}
.shop-item {
    height: 265px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.shop-item01 {
    background-image: url(../images/item01.png);
}
.shop-item02 {
    background-image: url(../images/item02.png);
}
.shop-item03 {
    background-image: url(../images/item03.png);
}
.shop-item04 {
    background-image: url(../images/item04.png);
}
.shop-item05 {
    background-image: url(../images/item05.png);
}
.shop-item06 {
    background-image: url(../images/item06.png);
}
.shop-item07 {
    background-image: url(../images/item07.png);
}
.shop-item08 {
    background-image: url(../images/item08.png);
}
.shop-item09 {
    background-image: url(../images/item09.png);
}
.shop-item10 {
    background-image: url(../images/item10.png);
}
.shop-item11 {
    background-image: url(../images/item11.png);
}
.shop-item12 {
    background-image: url(../images/item12.png);
}
.sale {
    font-family: 'Rubik', sans-serif;
    background-color: #083C6E;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 23px 5px;
    position: absolute;
    top: 13px;
    left: 13px;
}

.cart-button {
    font-family: 'Rubik', sans-serif;
    background-color: #083C6E;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    padding: 6px 0.5% 5px;
    position: absolute;
    top: 13px;
    right: 13px;
}

.nosale {
    visibility: hidden;
}

.text-info {
    position: absolute;
    bottom: 0;
    left: .75rem;
    width: 100%;
    background-color: #083C6E;
    padding-top: 8px;
    padding-bottom: 8px;
}
.text-info .col-4 {
    text-align: center;
}
.text-info h3 {
    font-size: 20px;
    color: #fff;
    margin-bottom: 0;
}
.text-info p {
    font-size: 18px;
    color: #fff;
    border: 1.5px solid #fff;
    border-radius: 5px;
    padding: 5px 16px;
    margin-bottom: 0;
}
.dots {
    max-width: 227px;
    position: absolute;
    top: -105px;
    left: -57px;
    z-index: -1;
}
footer {
    background-color: #083C6E;
    color:#fff;
 padding: 15px;
 width: 1900px
}
footer a {
    color:#fff
}

.modal {
    width: 500px;
    height: 700px;
    margin: auto;
    right: 13px;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #0550a1;
    color: white;
    margin: 15% auto;
    padding: 30px;
    width: 60%;
    border: 1px solid #000000;
    border-radius: 26px;
}

.modal-cart-button {
    width: 100px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 13px;
    padding: 2px;
    margin-right: 5px;
}
.modal-cart-button:hover {
    background-color: #c5c5c5;
}

.allLinks {
    padding: 2px;
    margin: 5px;
}



@media (max-width: 1199px) {
    .shop {
        max-width: 600px;
        margin: 50px auto 0;
        text-align: center;
    }
    .dots {
        top: -40px;
    }
}
@media (max-width: 575px) {
    .title-h1 {
        font-size: 24px;
    }
    .shop {
        margin: 30px auto 0;
    }
    .text-info h3, .text-info p {
        font-size: 13px;
    }
    .text-info h3 {
        margin-bottom: 10px;
    }
    .sale {
        font-size: 12px;
    }
    .shop-item {
        height: 236px;
    }
    .dots {
        display: none;
    }
}

*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.con{
    width: 73%;
    min-width: 500px;
    position: absolute;
    left: 200px;
}
.wrapper{
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 1px 40px;
    border-radius: 13px;
    box-shadow: 0 15px 25px rgba(0,0,50,0.2);
}

.content{
    font-family: "Poppins",sans-serif;
}
.toggle{
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    color: #111130;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 15px 0;
}
.content{
    position: relative;
    font-size: 14px;
    text-align: justify;
    line-height: 30px;
    height: 0;
    overflow: hidden;
    transition: all 1s;
}

.account-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .btn {
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .account-dropdown:hover .dropdown-content {
    display: block;
  }
  
  